/* *{
    margin: 0;
    padding: 0;
} */

body{
    text-align: center;
    background: rgb(231, 175, 231);
    font-family: "Comic Sans MS", cursive, sans-serif;
   
}

tr,td {
    border: 5px solid black;  
    height: 200px;
    width: 200px;
    background: rgb(253, 211, 248);
    text-indent: -400px; 
     overflow: hidden; 

} 
button{

    margin-top: 50px;
    background-color: rgb(126, 43, 70) ; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    
}

img{
    /* float: right; */
    position: absolute;
    bottom: 0;
    right: -50px;

}
div{
    padding-bottom: 25px;
}
@keyframes title {
    from {color: rgb(228, 59, 115);}
    to {color: rgb(231, 36, 231);}
  }
  
  /* The element to apply the animation to */
  h1 {
    margin-bottom: 0;
    color: black;
    animation-name: title;
    animation-duration: 10s;
    font-weight: bold;
    font-size:60px;
    font-weight: 900;
  }
  p{
    color:rgb(215, 38, 97);
    font-weight: bold;
    font-size:50px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
  }
  footer{
      color: rgb(197, 74, 197);
      text-align: center;
      /* padding-top: 25px; */
      font-size:30px;
      font-weight: 900;
      background-color: rgb(247, 192, 201);
      margin-top: 20px;
      padding: 15px;
  }
  span
  {
      color: deeppink;
 
     
  }
  #links{
    padding-bottom: 0px;

  }
  #links.main{
    position: absolute;
    bottom: 0;
    width:100%;
    padding-bottom: 0px;

  }
  #par{
    color:rgb(175, 80, 112);
    font-weight: bold;
    font-size:30px;
  }
  #h{
      color: rgb(116, 58, 116);
    font-weight: bold;
    font-size:40px;   
  }